@import url(https://fonts.bunny.net/css?family=fahkwang:200,300|quantico:400,400i,700);

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    max-width: 1750px;
    background-color: white;
    color: black;
    font-family: quantico;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-centered {
    text-align: center;
}

#main-header {
    font-family: 'Fahkwang', sans-serif;
}

#footer {
    margin-top: auto;
}

footer {
    display: flex;
    font-family: 'Fahkwang;', sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

#about-p {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

h3 {
    text-align: center;
}

#experience {
  display: flex;
  flex-direction: column;
}

#experience-item-center {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: none;
    border-right: none;
}

#skill-items {
    flex-direction: column;
    text-align: center;
}

#project {
    display: flex;
    flex-direction: column;
}

#project-item-first {
    margin: 0.5rem 0.5rem 0 0.5rem;
    border-right: none;
    border-bottom: 1px solid;
}

#project-item-second {
    margin: 0 0.5rem 0.5rem 0.5rem;
    border-left: none;
    border-top: 1px solid;
}

#education {
    display: flex;
    flex-direction: column;
}

.education-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#education-item-first {
    margin: 0.5rem 0.5rem 0 0.5rem;
    border-right: none;
    border-bottom: 1px solid;
}

#education-item-second {
    margin: 0 0.5rem 0.5rem 0.5rem;
    border-left: none;
    border-top: 1px solid;
}


/* Desktop breakpoint */
@media screen and (width >= 768px) {

    #skill-items {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        /*text-align: center;*/
    }
    
    #experience {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        place-content: center;
        padding: 1em; 
        margin: 0.5rem;
    }
    
    .experience-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1em; 
        margin: 0.5rem;
        text-align: center;
    }
    
    #experience-item-center {
        border-left: 2px solid;
        border-right: 2px solid;
        border-top: 0;
        border-bottom: 0;
    }
    
    .experience-items-titles {
        font-style: italic;
    }
    
    .experience-items-periods {
        font-size: 75%;
    }
    
    #project {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 1em; 
        margin: 0.5rem;
    }
    
    .project-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1em; 
        margin: 0.5rem;
        text-align: center;
    }
    
    #project-item-first {
        margin: 0.5rem 0 0.5rem 0.5rem;
        border-bottom: none;
        border-right: 1px solid;
    }
    
    #project-item-second {
        margin: 0.5rem 0.5rem 0.5rem 0;
        border-top: none;
        border-left: 1px solid;
    }
    
    #education {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0.5em; 
        margin: 0.25rem;
    }
    
    .education-items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em; 
        margin: 0.25rem;
        text-align: center;
    }
    
    #education-item-first {
        margin: 0.5rem 0 0.5rem 0.5rem;
        border-bottom: none;
        border-right: 1px solid;
    }
    
    #education-item-second {
        margin: 0.5rem 0.5rem 0.5rem 0;
        border-top: none;
        border-left: 1px solid;
    }
}