@import url(https://fonts.bunny.net/css?family=fahkwang:200,300|quantico:400,400i,700);

body {
  background-color: white;
  color: black;
  font-family: quantico;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.text-centered {
    text-align: center;
}

#main-header {
    font-family: 'Fahkwang', sans-serif;
}

#footer {
    margin-top: auto;
}

footer {
    display: flex;
    font-family: 'Fahkwang;', sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: space-around;
}

#about-p {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

#skill-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*text-align: center;*/
}

#experience {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 1em; 
    margin: 0.5rem;
}

.experience-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em; 
    margin: 0.5rem;
    text-align: center;
}

#experience-item-center {
    border-left: 2px solid;
    border-right: 2px solid;
}

.experience-items-titles {
    font-style: italic;
}

.experience-items-periods {
    font-size: 75%;
}

#project {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 1em; 
    margin: 0.5rem;
}

.project-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em; 
    margin: 0.5rem;
    text-align: center;
}

h3 {
    text-align: center;
}

#project-item-first {
    border-right: 1px solid;
    margin-right: 0%;
}

#project-item-second {
    border-left: 1px solid;
    margin-left: 0%;
}

#education {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0.5em; 
    margin: 0.25rem;
}

.education-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em; 
    margin: 0.25rem;
    text-align: center;
}

#education-item-first {
    border-right: 1px solid;
    margin-right: 0%;
}

#education-item-second {
    border-left: 1px solid;
    margin-left: 0%;
}

/* Tablet breakpoint */
@media (max-width: 768px) {
  #experience {
    display: flex;
    flex-direction: column;
  }

  #experience-item-center {
      border-top: 2px solid;
      border-bottom: 2px solid;
      border-left: none;
      border-right: none;
  }

  .skill-items {
      flex-direction: column;
      text-align: center;
  }

  #project {
      display: flex;
      flex-direction: column;
  }

  #project-item-first {
      border-right: none;
      border-bottom: 1px solid;
  }

  #project-item-second {
      border-left: none;
      border-top: 1px solid;
  }

  #education {
      display: flex;
      flex-direction: column;
  }

  .education-items {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }

  #education-item-first {
      border-right: none;
      border-bottom: 1px solid;
  }

  #education-item-second {
      border-left: none;
      border-top: 1px solid;
  }
}